<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Poppins:300,400,700' rel='stylesheet' type='text/css'>	
    <link href='http://fonts.googleapis.com/css?family=Playfair+Display:300,400,700' rel='stylesheet' type='text/css'>

		<script src="js/react.js"></script>
		<script src="js/react-dom.js"></script>
		<link rel="stylesheet" type="text/css" href="css/styles.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.6.15/browser.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>		
		<title>Geekskool Blog: Index</title>     
  
	</head>
	<body>
			<div id="app"></div>
			<script type="text/babel" src="js/components/body.js"></script>

	</body>
</html>