<!--<!DOCTYPE html>
<html>
<head>!-->
	<title>%{{title}}%</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>	
	<link href='http://fonts.googleapis.com/css?family=Playfair+Display:300,400,700' rel='stylesheet' type='text/css'>	
	<script src="https://fb.me/react-0.14.2.js"></script>
	<script src="https://fb.me/react-dom-0.14.2.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>		
<!--</head>!-->
<body>

<div id="main"></div>
<script type="text/babel">

var Like = React.createClass({
	getInitialState:function(){
		return{
			likes:0,
			liked:false
		}
	},
	incrementLike:function(){
		this.setState({
			likes:this.state.likes+1,
			liked:true
		})
	},
	decrementLike:function(){
		this.setState({
			likes:this.state.likes-1,
			liked:false
		})
	},
	render:function(){
		console.log(this.state.liked)
		return(
			<div className="likes">
				{this.state.likes} <button onClick={this.incrementLike} disabled={this.state.liked}>Like</button>
			</div>
		)
	}
})

var Article1 = React.createClass({
	render:function(){
		return(
			<div>
				<div className="article-slug">
				<h1>%{{title}}%</h1>
				<h2>By : %{{author}}%</h2>
				<p>%{{blog}}%</p>
				</div>
			</div>
		)
	}
})
var Body = React.createClass({
	render:function(){
		return(
			<div className="wrapper">
			<Article1/>
			<Like/>
			</div>
		)
	}
})
ReactDOM.render(<Body />,document.getElementById('main'))
</script>
<!--</html>!-->
