@font-face {
    font-family: 'Montserrat';
    src: url('/css/fonts/Montserrat-UltraLight.otf');
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';   
}

header {
  background-color: #1f1a1b;
  width: 100%;
  min-height: 260px;
  color: #fff;
  font-family: 'Playfair Display';   
}

header h1 {
  margin: auto;
  padding: 0;
  padding-top: 60px;
  font-size: 82px;
  text-align: center;
}

header h3 {
  text-align: center;
  font-size: 24px;
}  

header ul {
  margin: 0;
  padding: 0;
  float: right;
  padding: 5px; 
}

header li {
  text-decoration: none;
  display: inline-block;
  padding: 10px; 
}

header li a {
  color: #fff; }

header li a:hover {
  color: #E0E0E0;
}

.signin {
  height: 325px;
}

.signin a {
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: 'Source Sans Pro';
  display: block;
  margin: auto;
}

.signin a:hover {
  color: #757575;  
}

.write {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

.write a {
  color: #fff;
  border: 2px solid #fff;
  border-radius: 10px;
  width: 200px;
  height: 60px;
  padding: 16px;
  display: inline-block;
  text-align: center;
  margin: auto;
  margin: 5px;
  box-sizing:border-box;  
}

.wrapper {
  width: 600px;
  height:100%;
  display: block;
  margin: auto;
  font-family: 'Montserrat'; 
}

.formwrapper {
  width: 600px;
  height:400px;
  display: block;
  margin: auto;
  font-family: 'Lato'; 
}

.article {
  width: 600px;
  height: 100%;
  overflow: hidden; 
}

.article-slug {
  width: 600px;
  height: 100%;
}

.likes {
  color: #000;
}

.likes button {
  color: #000;
}

.line {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.line a {
  color: #000;
}

.line a:hover {
  color: #666;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #1f1a1b;
  text-align: center;
  color: #fff; 
  padding-top:10px;
  font-weight: bold;
}

footer a {
  color: white;
}

footer a:hover {
  color: #ccc;
}

.box {
  width:400px;
  height:200px;
  margin:150px auto;
  box-shadow: 0 10px 6px -6px #777;
}

.article {
  width: 600px;
  min-height: 300px;
  overflow: hidden; 
  font-family: 'Montserrat';
}

.article a {
  color: #000;
}

.article a:hover {
  color:#E0E0E0;
}

fieldset {
  border: none;
}

form {
  padding: 20px;
}

input[type="text"],input[type="submit"] {
  margin: 10px;
  padding: 10px;
}

input[type="text"] {
  width: 98%;
  height: 30px;
  border: none;
  font-size: 16px;
  border-bottom: 2px solid #eee;
}

input[type="text"]:focus {
  outline: none;
  border-bottom:2px solid #768A9A;
  transition:0.9s ease;
}

input[type="submit"] {
  width: 100px;
  height: 40px;
  background-color: #fff;
  cursor: pointer;
  color: #000;
  font-family: 'Poppins';
  display: block;
  margin: auto;
  text-align: center;
  border-radius: 10px;
  margin-top: 5px;
  float: right;
  border:2px solid #768A9A;
}

input[type="submit"]:hover {
  border:2px solid #768A9A;
  color: #768A9A;
}

.error {
  color: blue;
  font-weight: 500;
  font-size: 12px;
}

textarea#blog {
  width: 600px;
  height: 120px;
  border: 3px solid #cccccc;
  padding: 5px;
}   

textarea:focus {
  border: 1px solid #768A9A;
} 

button {
  background-color: transparent;
  outline:none;
  color: white;
  border:none;
  cursor: pointer;
  font-size: 15px;
  font-family: 'Source Sans Pro';
}

button:hover {
  color: #E0E0E0;
}

@media screen and (max-width: 640px ) {
  header {
    width: 100%;
    box-sizing:border-box;
  }
  header h1 {
    width: 100%;
    font-size: 50px;
    padding: 0;
  }
  header h3 {
    width: 100%;
    font-size: 20px;
    box-sizing:border-box;    
  }
  .write {
    width: 100%;
    display: block;
    text-align: center;
  }
  .write a {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    width: 140px;
    height: 30px;
    padding: 6px;
    text-align: center;
    font-size: 12px;
    box-sizing:border-box;  
  }
  header ul {
    margin: 0;
    padding: 0;
    text-align: center;
    float: none;
    padding: 5px; 
  }  
  .formwrapper{
    width:100%;
    box-sizing:border-box;
  }
  .wrapper{
    width:100%;
    box-sizing:border-box;
  }
  form {
    width: 100%;
    box-sizing:border-box;  
  }
  textarea#blog{
    width: 100%;
    box-sizing:border-box
  }
  .article {
    width: 100%;
    box-sizing:border-box;
  }
  .signin {
    width: 100%;
    box-sizing:border-box;
  }
  footer {
    width: 100%;
    box-sizing:border-box;      
  }
  footer a{
    width: 100%;
    box-sizing:border-box;
  }
}
